{% if field.is_hidden %}{{ field }}{% elif field.widget_type == "checkbox" %}
<div class="form-row"><label class="check">{{ field }} {{ field.label }}</label>{% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}{% if field.errors %}<ul class="errors">{% for e in field.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}</div>
{% else %}
<div class="form-row{% if field.widget_type == 'checkboxselectmultiple' %} checks-inline{% endif %}">
  <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="muted">*</span>{% endif %}</label>
  {{ field }}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {% if field.errors %}<ul class="errors">{% for e in field.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
</div>
{% endif %}
